.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
  header {
    background-color: azure;
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }
  main {
    padding: 1rem;
    flex: 1
  }
}
